
.navdropdown >ul>li{
    @apply flex  p-4 border-b border-gray-400 mt-2 justify-between font-medium bg-white w-full;
    
}
.sticky-menu {
  @apply h-screen z-40;
  position: fixed;
  overflow-y: scroll; /* Fix the position relative to the viewport */
  top: 1rem; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Span the full width of the viewport */ /* Ensure it sits above other content */
  background-color: #fff; /* Optional: Change the background color */
}

.no-scroll {
  overflow: hidden;
   height:100vh; 
}

.coomen{
  @apply flex flex-col ;
}
.navdropdown> ul>li>img{
    @apply rotate-90;

}


.navdropdown{
    @apply w-screen bg-white;

}
.navdropdown{
    animation-name: navbarAnim;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.about{
  @apply flex h-[25vh] items-center gap-7 flex-wrap w-10/12;
}
.aboutitem{
  @apply  flex flex-col text-[20px] text-black font-semibold;
}
.aboutDownSpan{
  @apply flex flex-col pt-2;
  
}
.Similara{
    @apply text-primary text-[15px]  inline hover:underline ;
}
.servicespan{
  @apply font-[14px] ;
}
.centerdiscription{
    @apply flex flex-col;

}
.centerdiscription span{
  @apply font-[14px] py-1;
}
/* .move-down-step1 {
    animation: moveDownStep1 1s linear forwards;
  }
  
  .move-down-step2 {
    animation: moveDownStep2 1s linear forwards;
  } */
/* Add this to your stylesheet or in a style tag within your component */
@keyframes moveDownStep1 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
  @keyframes moveDownStep2 {
    0% {
      transform: translateY(100%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  
