*{
  margin:0px;
  padding:0px;

  font-family: 'Averta',sans-serif;
}
.navimg{
  @apply w-[37px];
  @apply sm:w-[67px];
}
.ctaspan{
  @apply py-2 cursor-pointer;
}

.container1{
  @apply flex justify-around items-center;

}
.container{
  @apply flex justify-center items-center;
}

