*{
  margin:0px;
  padding:0px;

  font-family: 'Averta',sans-serif;
}
.containernav{
@apply flex justify-center items-center h-full ;
}
.navimgwhite{
  @apply w-[90px]
}
.navimg{
  @apply w-[37px];
  @apply sm:w-[67px];
}
.ctaspan{
  @apply py-2 cursor-pointer relative ;
}

.container1{
  @apply flex justify-around items-center;

}
.container{
  @apply flex justify-center items-center;
}
.Similara{
    @apply text-primary text-[15px] font-semibold;
}
.Similara2{
    @apply text-primary text-[15px] font-semibold;
}
.Similarcenter span{
  @apply text-[14px] font-medium;
}
.centerdiscription{
  @apply mt-3
}
.similar{
  @apply inline;
}
.logosin{
  @apply flex flex-col justify-center gap-4 items-center;
  @apply font-bold text-xl;
  @apply h-[250px] w-[150px];
  @apply active:bg-white active:text-[#000] ;
}
.logosin span{
  @apply text-wrap w-11/12 text-center gap-4 active:text-[#000];
  @apply md:text-base lg:text-sm;
  fill: green;
}
.icon-shape {
  fill: white; 
  transition: fill 0.3s ease; 
}
.icon:hover .icon-shape {
  fill: black; 
}
.svg{
  @apply h-16 w-16;
  filter: brightness(0) invert(1);
  @apply md:h-14 md:w-14;
  @apply lg:h-12 lg:w-12;
}
.svg:active{
  fill:black;
  filter: brightness(100) invert(0);
}
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  
  z-index: 1000;
  transition: top 0.3s ease, background-color 0.3s ease; /* Smooth transition for top and background-color */
}
.sticky {
  position: fixed;
  top: 0; 
 
}
.center{
  @apply flex justify-center items-center;
}

